.mobile-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: hsl(257, 27%, 26%);
  width: calc(100% - 64px);
  z-index: 1000;
  border-radius: 10px;
  overflow: hidden;
  /* transition: max-height 0.5s ease; */
}

.mobile-login-buttons,
.mobile-nav-links {
  display: flex;
  flex-direction: column;
}

.mobile-nav-links {
  margin: 0 auto;
  padding: 2rem 0;
  gap: 2rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.mobile-nav-links a {
  color: white;
}

.mobile-login-buttons {
  gap: 1.5rem;
  border-top: solid 1px hsl(0, 0%, 75%, 0.25);
  padding: 2rem 1.5rem;
}

@media (min-width: 567px) {
  .mobile-nav {
    width: 89vw;
  }
}
