/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

/* IMPORT ANOTHER CSS */
@import "./styles/Header.css";
@import "./styles/Hero.css";
@import "./styles/Articles.css";
@import "./styles/Boost.css";
@import "./styles/Footer.css";

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.home-page {
  overflow-x: hidden;
}

.home-page,
.article-page,
.boost-page,
.footer-page {
  margin: 0;
  padding: 0;
}

.home-page {
  background-color: white;
}

.article-page {
  background-color: #f0f1f6;
}

.boost-page {
  background-color: hsl(257, 27%, 26%);
  background-image: url(./images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.footer-page {
  background-color: hsl(260, 8%, 14%);
}

.home,
.articles,
.boost,
.footer {
  margin: 0 auto;
  padding: 3rem min(10rem, 10%);
}

.articles {
  margin-top: 0;
  padding-top: 0;
}

@media screen and (min-width: 872px) {
  .home,
  .articles,
  .boost,
  .footer {
    padding: 3rem 10rem 7rem;
  }

  .boost,
  .footer {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 872px) {
  .home,
  .articles,
  .boost,
  .footer {
    padding: 3rem 2rem 7rem;
  }

  .boost,
  .footer {
    padding-bottom: 3rem;
  }
}

@media (max-width: 567px) {
  .home,
  .articles,
  .boost,
  .footer {
    padding: 2rem 2rem 7rem;
  }

  .boost,
  .footer {
    padding-bottom: 3rem;
  }
  .boost-page {
    background-image: url(./images/bg-boost-mobile.svg);
  }
}
